<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <!-- Bootstrap CSS -->

    <title>Hello, world!</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-collapse collapse flex-grow-1 order-4 order-md-0 collapsenav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/index">Slipp(로고)</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex flex-md-fill flex-shrink-1 justify-content-end order-3">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/form">회원가입</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h3>사용자 목록</h3>

    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">userId</th>
            <th scope="col">이름</th>
            <th scope="col">이메일</th>
          </tr>
        </thead>
        <tbody>
            {{#customlist}}
          <tr>
            <td>{{userId}}</td>
            <td>{{userName}}</td>
            <td>{{userEmail}}</td>
          </tr>
        {{/customlist}}
        </tbody>
      </table>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
</body>
</body>

</html>